/* Global */
html {
  box-sizing:border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
li,
th,
td {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contentwrap {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

/* Navigation Bar */
.topnav {
  background-color: #EDC7B7;
  /* position: relative; */
  width: 100%;
}

.topnav a {
  float: right;
  padding: 10px 10px;
  color: #123C69;
  text-decoration: none;
  font-size: 125%;
}

#active {
  float: right;
  padding: 10px 10px;
  color: #AC3B61;
}

.topnav img {
  width: 60px;
  padding-left: 5px;
}

/* Background Image */
.topnav-right {
  float: right;
}

/* Home Page */
.homebody {
  background-color: #EEE2DC;
}

.coursestitle {
  margin: 0 auto;
  padding-top: 2%;
  padding-left: 2%;
  font-size: 25px;
  margin-bottom: 0;
  color: #123C69;
}

.content {
  background-color: #BAB2B5;
}

.flex-container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #EEE2DC;
  font-size: 250%;
  margin: 0 auto;
  width: 100%;
}

.flex-item1 img {
  width: 300px;
  height: 200px;
}

.flex-item1 h1 {
  color: #123C69;
  font-style: oblique;
  margin-bottom: 5px;
}
.flex-item1 h6 {
  color: #AC3B61;
  font-style: italic;
  margin-top: 5px;
  font-size: 15px;
}

.flex-item1 {
  text-align: center;
}

.flex-container2 {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  justify-content: space-evenly;
}

.flex-item2 {
  box-sizing: border-box;
  padding: 25px 30px;
  margin: 20px;
  background-color: #EEE2DC;
  text-align: center;
  border-radius: 5%;
}

.flex-item2 h4 {
  color: #123C69;
  font-size: 20px;
}

.flex-item2 a button {
  background-color: #EDC7B7;
  border: none;
  color: #AC3B61;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.pic {
  width: 250px;
  height: 300px;
}

/* About Us Page */
.au1 {
  background-color: #EEE2DC;
  text-align: center;
}

.autitle {
  font-size: 25px;
  color: #123C69;
}

.au1-container {
  display: flex;
  width: 100%;
  justify-content:space-around;
}

.au1-item {
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: #EDC7B7;
}

.au2 p,
.au3 p,
.au2 h1, 
.au3 h1 {
  padding: 20px 40px;
  margin: 0 auto;
}

.au5 {
  background-color: #EEE2DC;
}

.au5 h1 {
  margin-top: 0;
  padding-top: 10px;
}

.au4 .autitle,
.au5 .autitle {
  text-align: center;
}

.au1 p,
.au2 p,
.au3 p,
.au4 p,
.au5 p {
  color: #123C69;
}

.au4 {
  background-color: #BAB2B5;
}

.au4 .autitle {
  margin: 0 auto;
  padding: 20px 0;
}

.au2-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.au2-item {
  align-items: center;
  padding: 10px;
  margin: 10px 60px;
}

.au2-item img {
  width: 200px;
  height: 250px;
}

.au2-item p {
  text-align: center;
}

.au3-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.au3-item {
  text-align: center;
}

.au3-item img {
  width: 250px;
  height: 300px;
}

.au3-item h2 {
  color: #123C69;
}

.au3-item p,
.au3-item h2 {
  margin: 5px auto;
}
/* Contact Us Page */
.cu1 {
  text-align: center;
}

.cu1 {
  background-color: #EEE2DC;
  padding: 40px 0;
}

.cu1 h1,
.cu1 p {
  margin: 0 auto;
  color: #123C69;
}

.cu1 h1 {
  font-size: 25px;
}


input[type=email],
input[type=tel],
input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 400px;
}

textarea {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 400px;
  height: 300px;
}

input[type=submit] {
  width: 400px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.cu-container {
  background-color: #BAB2B5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.cu-item img {
  width: 550px;
  height: 400px;
}

.cu-item {
  padding: 20px 40px;
}

.cu-item label,
.cu-item h3,
.cu-item p {
  color: #123C69;
}

.cu-item h3 {
  font-size: 25px;
}

.cu-item h3,
.cu-item p {
  text-align: center;
}


/* Site Map Page */
.sm1 h1 {
  text-align: center;
}

.sm1 {
  background-color: #EEE2DC;
  padding: 30px 0;
}

.sm2 {
  background-color: #BAB2B5;
  padding: 60px 0;
}

.sm3 {
  background-color: #EEE2DC;
  padding: 60px 0;
}

.sm1-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.sm2-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;

}

.sm1-item img,
.sm2-item img {
  width: 600px;
  height: 350px;
}

.sm2-item h1,
.sm2-item div {
  text-align: right;
}

.sm1-item h1,
.sm2-item h1 {
  font-size: 25px;
  color: #123C69;
}

.sm1-item a,
.sm2-item a {
  text-decoration: none;
  color: #AC3B61;
  font-size: 20px;
}

/* Privacy Policy Page*/
.pp {
  background-color: #EEE2DC;
  padding: 60px 0;
}

.privacytitle{
  font-size: 25px;
  color: #123C69;
  text-align: center;
}

.policy {
  padding-left: 150px;
  margin: 0 auto;
  overflow: auto;
  width: 1000px;
  height: 500px;
}

/* Enroll */
.e1 {
  background-color: #EEE2DC;
  padding: 15px 0;
  text-align: center;
}

.e2 {
  background-color: #BAB2B5;
  padding: 15px 0;
  padding-left: 500px;
}

/* Details pages */
  .detailbody {
  background-color: #EEE2DC;
}

  .instructor {
    width: 200px;
    height: 250px;
  }

  .detail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 250%;
    margin: 0 auto;
    width: 100%;
  }

  .detail-item {
    width: 50%;
    text-align: center;
  }

  .detail-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 250%;
    margin: 0 auto;
    width: 100%;
  }

  .detail-item1 {
    width: 50%;
    text-align: center;
  }

  .detail-title {
    font-size: 25px;
    color: #123C69;
  }
  
 .detail-content {
   font-size: 16px;
   color: #123C69;
   text-align: left;
 }

 .detail-button{
    background-color: #EDC7B7;
    border: none;
    color: #AC3B61;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
 }

 .detail-details {
   text-align: left;
   font-size: 16px;
   color: #123C69;
 }

 .detail-content li {
   padding-left: 10px;
   margin-left: 200px;
 }

 /* Course Sched */
.course-sched {
  background-color: #EEE2DC;
  padding-bottom: 40px;
  text-align: center;
}

.caption {
  padding: 20px;
  margin-top: 0;
  color: #123C69;
}

th, td {
  font-size: 16px;
  color: #123C69;
  border: 1px solid rgb(190, 190, 190);
  padding: 10px;
}

.animation-table {
  margin-left: 430px;
}

.java-table {
  margin-left: 430px;
}

.data-table {
  margin-left: 370px;
}

.photoshop-table {
  margin-left: 460px;
}

.machine-table {
  margin-left: 430px;
}

.web-table {
  margin-left: 440px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
}

th[scope="part"], td[scope="part"] {
  background-color: rgb(212, 204, 158);
}

th[scope="part1"], td[scope="part1"] {
  background-color: rgb(207, 168, 161);
}

th[scope="part2"], td[scope="part2"] {
  background-color: rgb(101, 196, 148);
}

th[scope="part3"], td[scope="part3"] {
  background-color: rgb(98, 124, 238);
}

th[scope="part4"], td[scope="part4"] {
  background-color: rgb(203, 150, 214);
}

th[scope="part5"], td[scope="part5"] {
  background-color: rgb(91, 187, 224);
}

th[scope="part6"], td[scope="part6"] {
  background-color: rgb(62, 165, 105);
}

th[scope="part7"], td[scope="part7"] {
  background-color: rgb(177, 131, 63);
}

th[scope="part8"], td[scope="part8"] {
  background-color: rgb(226, 116, 26);
}
   

/* Footer */
 .fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
} 

footer {
  text-align: center;
  background-color: #EDC7B7;
  padding: 25px 0;
}

footer .footerleft {
  float: left;
}

.footerleft img {
  width: 70px;
  padding-left: 10px;
}

footer .footerright {
  float: right;
  padding-right: 10px;
}
